    <!-- About Section -->
    <section id="why" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Why bank with us?</h2>
              <br/>
                <p>We are the convenient front end to your bank.</p>
                <p>Instant payment to anyone anywhere in the world, without any fees!</p>
                <p>Blockchain security, reliability, and auditability make us the ultimate payment sollution.</p>
              <br/>
              </div>
        </div>
    </section>
