<section id="team">
	<div class="container text-center">
		<hr>
	  <h2>Meet the team:</h2>
		<hr>
		<ul class="photo-grid">
			<li>
				<figure>
					<img src="img/team/lavius.jpeg" height="180" width="180" alt="Lavius">
					<figcaption><p>Short Bio  I am a BSc Computer Science Honours student at the University of Cape Town. I love working with computers and learning about new technologies. The fields of study that interest me are artificial intelligence, IOT, and software engineering. My strongest strength is UIX design and computer programming.</p></figcaption>
				</figure>
				<h3>Lavius</h3>
			</li>
			<li>
				<figure>
					<img src="img/team/jon-jon.jpeg" height="180" width="180" alt="JonJon Clark">
					<figcaption><p>Computer Science, Mathematics and Finance student getting ready to leverage the impending blockchain boom.</p></figcaption>
				</figure>
				<h3>JonJon Clark</h3>
			</li>
			<li>
				<figure>
					<img src="img/team/abonga.jpeg" height="180" width="180" alt="Abonga">
					<figcaption><p>Abonga</p></figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="img/team/jason.jpg" height="180" width="180" alt="JonJon Clark">
					<figcaption><p>Jason Smythe</p></figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="img/team/abonga.jpeg" height="180" width="180" alt="Abonga">
					<figcaption><p>Victor</p></figcaption>
				</figure>
			</li>
		</ul>
	</div>
</section>
<!-- /.banner -->
